@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* lista detalles de esta web *@
<ul>

    <li>Esta es una aplicación de ejemplo para gestionar eventos y certificados en una universidad.</li>
    <li>Utiliza ASP.NET Core MVC para la estructura del proyecto.</li>
    <li>Incluye vistas para crear y editar eventos y certificados.</li>
    <li>Implementa validación de modelos en las vistas.</li>
    <li>Utiliza Bootstrap para el diseño responsivo de las páginas.</li>
    <li>Permite la navegación entre diferentes acciones como crear, editar y listar eventos y certificados.</li>

    <li>Incluye secciones para scripts de validación y manejo de errores.</li>
    <li>Utiliza el patrón de diseño MVC para separar la lógica de negocio, la presentación y el acceso a datos.</li>


    <br>
    <br>
    @*  ahora una lista no ordenada con otras cosasa de este mvc*@

    <ol>Implementa inyección de dependencias para servicios y repositorios.</ol>
    <ol>Utiliza Entity Framework Core para el acceso a datos.</ol>
    <ol>Incluye un modelo de datos para eventos y certificados.</ol>
    <ol>Permite la creación y edición de participantes asociados a eventos.</ol>
    <ol>Incluye validaciones en los modelos para asegurar la integridad de los datos.</ol>
    <ol>Proporciona una interfaz amigable para el usuario final.</ol>


</ul>